/* Reference styling courtesy of Trump Costs America: 
https://trumpcostsamerica.com/ 
*/

:root {
    text-rendering: optimizeLegibility;
    min-width: 360px;
    scroll-behavior: smooth;

    overscroll-behavior: none;
    
}

body {
    position: relative;
    height: 100%;
    min-height: 100%;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: 400;
    color: #212427;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
    min-width: 360px;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: none;
}


#header{
    background: white;
    width: 100%;
    z-index: 0;
}

h1 {
    max-width: 80%;
    font-size: clamp(1.7em, calc(5vw), 4.3em);
    font-weight: 400;
    text-align: left;
    line-height: 1.15em;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;

}

h1 strong{
    font-weight: 800;
}

#jobsKilled {
    font-weight: 900;
    color: black;
    line-height: 1.1em;
    font-variant-numeric: tabular-nums;
    text-decoration: underline;
    text-decoration-color: red;
}

#resourcesCountLink {
    font-weight: 900;
    color: black;
    line-height: 1.1em;
    font-variant-numeric: tabular-nums;
    text-decoration: underline;
    text-decoration-color: blue;
}


#storyGallery {
    position: relative;
    min-height: 55%;
    max-height: 55%;
    min-height: 55svh;
    max-height: 55svh;
    background: #fff;
    max-width: 100vw;
    z-index: 4;
    overflow: hidden;
}


.story{
    display: none;
    position: absolute;
    height: min-content;
    width: 45vmin;
    max-width: 400px;    
    margin: 0;
    padding: calc(0.3vw + 0.8lvh + 1vmin);
    font-size: clamp(14px, calc(0.3vw + 0.5lvh + 1vmin), calc(0.3vw + 0.5lvh + 1vmin));
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    background: white;
    top: 20px;
    will-change: left;
    transition: transform 0.25s ease-out, border 0.25s ease-out, color 0.25s ease-out;
    z-index: 4;
    color:  #7e0f0f;
    border: 3px solid #7e0f0f;
}



.story:hover, .story:active{
    z-index: 10000 !important;
    color:  #00112b;
    border-color: #00112b;
    transform: scale(1.2,1.2);
}

#message{
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 35em;
    font-size: clamp(16px, calc(0.3vw + 1.0vh + 1vmin), calc(0.3vw + 1.0vh + 1vmin));
    background: #fff;

}

#message p{
    font-weight: 400;
    max-width: 900px;
    margin: 0 auto 1em auto;
    line-height: 1.1em;
}

.actionButtons{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    flex-direction: row; 
    flex-wrap: wrap-reverse; 
    align-content: flex-start;
    gap: 1em;
    width: 80%;
    margin: 0 auto 2em;
}

.actionButton{
    display: block;
    padding: 1em;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background: #00112b; 
    border: 3px solid #00112b; 
    cursor:pointer;
    flex-grow: 1;
    text-decoration: none;
}

.actionButton:hover{
    color: #00112b;
    background: #fff;
}

.actionList{
    display: flex;
    justify-content: center; 
    align-items: stretch; 
    flex-direction: row; 
    flex-wrap: wrap; 
    align-content: flex-start;
    gap: 1em;
    width: 80%;
    margin: 0 auto 2em;
}

.actionListItem{
    display: block;
    max-width: 25em;
    flex-grow: 1;
    background: #eee;
    padding: 1em 0;
}

.actionListItem a{
    text-decoration: none;
}

.actionListButton{
    text-decoration: none;
    padding: 1em;
    margin: .5em auto;
    font-size: 1em;
    max-width: 16em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background: #00112b;
    border: 3px solid #00112b; 
    cursor: pointer;
}
.actionListButton:hover{
    color: #00112b;
    background: transparent;
}

.actionListDescription{
    display: block;
    margin: 0 auto;
    padding: .5em;
    font-size: 1.15em;
    text-align: left;
    font-weight: 400;
    color: #00112b;
    width: 90%;
    max-width: 22em;
}

.jump{
    text-align: right;
}
.jump a{
    color: #fff;
    text-decoration: none;
}
.jump a:hover{
    color: #ff6f19;
    text-decoration: none;
}

#citations{
    background:#212427;
    margin-top: 2em;
    max-width: 100%;
    padding: 4vw;
    color: white;
}

#citations a{
    color: red;
}

#citations a:hover{
    color: #ff6f19;
}

.citation {
    max-width: 1440px;
    margin: 1em auto;
    color: white;
}

#privacyLink{
    text-align: right;
}

#privacyLink a{
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 8px;
}