<!DOCTYPE html>
<html>
<head>
    <title>Federal Dataset Monitoring Service</title>
</head>

<body>
    <div class="header_block">
        <h1>Federal Dataset Monitoring Service</h1>
    </div>

    <div class="intro_blurb">
        We are currently monitoring {{data_collections_count}} data collections publicly published by the U.S. Government, totalling some {{data_resources_count}} different data resources.

        Currently, 🔴 {{unavailable_collections_count}} collections are completely unavailable, 🟠 {{partially_unavailable_collections_count}} are partially unavailable, and 🟡 {{stale_collections_count}} have not been updated as expected.

    </div>

    <div class="latest_statuses_block">

    </div>
</body>