@import url("./__normalize.css");
@import url("./_variables.css");
@import url("./_navigation.css");

body {
  background-color: var(--surface--page-background);
  color: var(--color--text-primary);

  font-family: var(--font-family--body);
  font-size: var(--font-size--body);
  font-weight: var(--font-weight--body);

  line-height: 1.6;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: left;

  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  display: block;
  text-align: left;
}

h1 {
  font-size: var(--font-size--h1);
}

h2 {
  font-size: var(--font-size--h2);
}

h3 {
  font-size: var(--font-size--h3);
}

h4 {
  font-size: var(--font-size--h4);
}

h5 {
  font-size: var(--font-size--h5);
}

h6 {
  font-size: var(--font-size--h6);
}

/* Flex Grid */

.flex-grid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--spacing--4);
  max-width: 600px;

  overflow: hidden;
}

.flex-grid__item {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-grid {
    flex-direction: row;
    max-width: 900px;
    gap: var(--spacing--4);
    width: 100%;
  }

  .flex-grid__item-2-of-3 {
    flex: 2;
  }

  .flex-grid__item-3-of-4 {
    flex: 3;
  }

  .flex-grid__item-4-of-5 {
    flex: 4;
  }

  .flex-grid__item-5-of-8 {
    flex: 5;
  }

  .flex-grid__item-6-of-8 {
    flex: 6;
  }

  .flex-grid__item-7-of-8 {
    flex: 7;
  }

  .flex-grid__item-full {
    flex: 1 0 100%;
  }
}

@media (min-width: 1200px) {
  .flex-grid {
    max-width: 1500px;
  }
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: var(--spacing--4);
  align-items: center;
  padding: var(--spacing--4);
  margin-bottom: var(--spacing--4);
}

.pagination__pages {
  padding: initial;
  margin: initial;

  display: flex;
  justify-content: center;
  gap: var(--spacing--2);
  align-items: center;

  list-style: none;
}
